<div class="row">
  <div class="col-md-6">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditItem(i)"
      >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
  <div class="col-md-12">
    <app-bar-chart *ngIf="chartData" [data]="chartData"></app-bar-chart>
  </div>
</div>
