<!doctype html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Recepies</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCUcWly6_c17ZSYmNya5s_SDsTW-uX9YA4"></script>
    </head>
    <body>
        <app-root>Loading ...</app-root>
        <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
        <script src="/js/pusher-setup.js"></script>
        <script src="/js/app/bundle.js"></script>
        <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </body>
</html>