<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <canvas #logo width="200" height="50">
          <a routerLink="/" class="navbar-brand"></a>
      </canvas>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
        <li routerLinkActive="active"><a routerLink="/shop-locations-list">Shopping Locations</a></li>
        <li routerLinkActive="active"><a routerLink="/news">News</a></li>
      </ul>
    </div>
  </div>
</nav>
