<div class="row news">
    <h1>Latest tweets</h1>
    <div class="row">
        <a class="twitter-timeline" data-height="400" data-link-color="#19CF86" href="https://twitter.com/deliciousvids?lang=en&ref_src=twsrc%5Etfw">Tweets by TwitterDev</a>
    </div>
    <h1>Latest News</h1>
    <div *ngFor="let newsItem of news" class="row">
      <div *ngIf="newsItem.urlToImage" class="news-item">
        <h3>{{ newsItem.title }}</h3>
        <div class="content">
          <img [src]="newsItem.urlToImage" alt="">
          <p>{{ newsItem.description }}</p>
        </div>
      </div>
    </div>
</div>