.news-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 60px;
    opacity: .6;
    transition: opacity .4s ease;
}

.news-item:hover {
    opacity: 1;
}

.news-item h3 {
    font-size: 21px;
    margin-bottom: 14px;
    text-decoration: underline;
}

.news-item .content {
    display: flex;
}

.news-item img {
    min-width: 180px;
    height: 100px;
    margin-right: 10px;
}

.news-item p {
    font-family: sans-serif;
    font-size: 18px;
}

h1 {
    text-shadow: 2px;
    border-radius: 2%
}