<div class="col-md-12">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="name">Required ingredient</label>
        <input type="text" id="ingredientName" class="form-control" name="ingredientName" ngModel required>
      </div>
      <div class="col-sm-2 form-group">
        <label for="amount">Required amount</label>
        <input type="number" id="requiredAmount" class="form-control" name="requiredAmount" ngModel required pattern="^[1-9]+[0-9]*$">
      </div>
      <div class="col-sm-2 form-group">
        <label for="cityName">City Name</label>
        <input type="text" id="cityName" class="form-control" name="cityName" ngModel required>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn btn-success" type="submit" [disabled]="!f.valid">Search</button>
        <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
      </div>
    </div>
  </form>
</div>
<hr>
<br>
<div class="col-md-12" style="margin-top: 10px">
  <h1>Stores locations</h1>
  <ul class="list-group">
    <a class="list-group-item" style="cursor: pointer" *ngFor="let location of locations; let i = index">
      {{ location.name }} ({{ location.description }})
    </a>
  </ul>
</div>
<div class="col-md-12" style="margin-top: 10px">
  <app-google-map></app-google-map>
</div>